@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-100
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300
  }
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply m-0 w-full h-[100vh]
}

#root {
  @apply m-0 w-full h-[100vh] flex items-center justify-center
}

li, ul {
  @apply list-none
}